{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"semi": true,
	"arrowParens": "always",
	"bracketSameLine": true,
	"endOfLine": "lf",
	"svelteStrictMode": true,
	"importOrder": [
		"<TYPES>^(node:)",
		"<TYPES>",
		"<TYPES>^[.]",
		"",
		"^(\\$lib)(\\/.*)?$",
		"<BUILTIN_MODULES>",
		"<THIRD_PARTY_MODULES>",
		"^[.]"
	],
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss",
		"@ianvs/prettier-plugin-sort-imports"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
