@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
	name: 'emoghost';
	default: true;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(14% 0.004 49.25);
	--color-base-200: oklch(21% 0.006 56.043);
	--color-base-300: oklch(26% 0.007 34.298);
	--color-base-content: oklch(97% 0.001 106.424);
	--color-primary: oklch(0.6857 0.1823 3.5);
	--color-primary-content: oklch(0.3 0.1823 3.5);
	--color-secondary: oklch(0.498 0.0761 282.35);
	--color-secondary-content: oklch(0.95 0.0761 282.35);
	--color-accent: oklch(0.7321 0.1093 238.06);
	--color-accent-content: oklch(29% 0.066 243.157);
	--color-neutral: oklch(37% 0.01 67.558);
	--color-neutral-content: oklch(98% 0.001 106.423);
	--color-info: oklch(58% 0.158 241.966);
	--color-info-content: oklch(97% 0.013 236.62);
	--color-success: oklch(59% 0.145 163.225);
	--color-success-content: oklch(97% 0.021 166.113);
	--color-warning: oklch(66% 0.179 58.318);
	--color-warning-content: oklch(98% 0.022 95.277);
	--color-error: oklch(57% 0.245 27.325);
	--color-error-content: oklch(97% 0.013 17.38);
	--radius-selector: 1rem;
	--radius-field: 1rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1.5px;
	--depth: 0;
	--noise: 0;
}

@font-face {
	font-family: Torus;
	src: url('/fonts/Torus-Regular.otf') format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: Torus;
	src: url('/fonts/Torus-Bold.otf') format('opentype');
	font-weight: bold;
}

@font-face {
	font-family: Torus;
	src: url('/fonts/Torus-Heavy.otf') format('opentype');
	font-weight: 800;
}

@font-face {
	font-family: Torus;
	src: url('/fonts/Torus-Light.otf') format('opentype');
	font-weight: 300;
}

@font-face {
	font-family: Torus;
	src: url('/fonts/Torus-SemiBold.otf') format('opentype');
	font-weight: 600;
}

@font-face {
	font-family: Torus;
	src: url('/fonts/Torus-Thin.otf') format('opentype');
	font-weight: 100;
}

body {
	font-family: 'Torus', system-ui;
}
